In [1]:
import plotly.express as px
import pandas as pd


df = pd.read_csv('Data/World/covid_19_clean_complete.csv')
df.head(20)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0
5,NaN,Antigua and Barbuda,17.0608,-61.7964,1/22/20,0,0,0
6,NaN,Argentina,-38.4161,-63.6167,1/22/20,0,0,0
7,NaN,Armenia,40.0691,45.0382,1/22/20,0,0,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,1/22/20,0,0,0
9,New South Wales,Australia,-33.8688,151.2093,1/22/20,0,0,0
10,Northern Territory,Australia,-12.4634,130.8456,1/22/20,0,0,0
11,Queensland,Australia,-28.0167,153.4000,1/22/20,0,0,0
12,South Australia,Australia,-34.9285,138.6007,1/22/20,0,0,0
13,Tasmania,Australia,-41.4545,145.9707,1/22/20,0,0,0
14,Victoria,Australia,-37.8136,144.9631,1/22/20,0,0,0
15,Western Australia,Australia,-31.9505,115.8605,1/22/20,0,0,0
16,NaN,Austria,47.5162,14.5501,1/22/20,0,0,0
17,NaN,Azerbaijan,40.1431,47.5769,1/22/20,0,0,0
18,NaN,Bahamas,25.0343,-77.3963,1/22/20,0,0,0
19,NaN,Bahrain,26.0275,50.5500,1/22/20,0,0,0

In [2]:
df.tail(20)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
23560,NaN,Mali,17.570692,-3.996166,4/20/20,246,14,56
23561,NaN,Saint Kitts and Nevis,17.357822,-62.782998,4/20/20,15,0,0
23562,Northwest Territories,Canada,64.825500,-124.845700,4/20/20,5,0,0
23563,Yukon,Canada,64.282300,-135.000000,4/20/20,11,0,0
23564,NaN,Kosovo,42.602636,20.902977,4/20/20,510,12,93
23565,NaN,Burma,21.916200,95.956000,4/20/20,119,5,7
23566,Anguilla,United Kingdom,18.220600,-63.068600,4/20/20,3,0,1
23567,British Virgin Islands,United Kingdom,18.420700,-64.640000,4/20/20,5,1,3
23568,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/20/20,11,1,0
23569,NaN,MS Zaandam,0.000000,0.000000,4/20/20,9,2,0
23570,NaN,Botswana,-22.328500,24.684900,4/20/20,20,1,0
23571,NaN,Burundi,-3.373100,29.918900,4/20/20,5,1,4
23572,NaN,Sierra Leone,8.460555,-11.779889,4/20/20,43,0,6
23573,NaN,Malawi,-13.254308,34.301525,4/20/20,17,2,3
23574,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,4/20/20,11,0,3
23575,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/20/20,1,0,0
23576,NaN,South Sudan,6.877000,31.307000,4/20/20,4,0,0
23577,NaN,Western Sahara,24.215500,-12.885800,4/20/20,6,0,0
23578,NaN,Sao Tome and Principe,0.186360,6.613081,4/20/20,4,0,0
23579,NaN,Yemen,15.552727,48.516388,4/20/20,1,0,0

In [3]:
filter = df["Country/Region"].isin(["United Kingdom", "France", "Germany", "Spain", "Italy"]) 
df_filtered = df[filter]
df_filtered.head(20)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
107,French Guiana,France,3.9339,-53.1258,1/22/20,0,0,0
108,French Polynesia,France,-17.6797,149.4068,1/22/20,0,0,0
109,Guadeloupe,France,16.2500,-61.5833,1/22/20,0,0,0
110,Mayotte,France,-12.8275,45.1662,1/22/20,0,0,0
111,New Caledonia,France,-20.9043,165.6180,1/22/20,0,0,0
112,Reunion,France,-21.1351,55.2471,1/22/20,0,0,0
113,Saint Barthelemy,France,17.9000,-62.8333,1/22/20,0,0,0
114,St Martin,France,18.0708,-63.0501,1/22/20,0,0,0
115,Martinique,France,14.6415,-61.0242,1/22/20,0,0,0
116,NaN,France,46.2276,2.2137,1/22/20,0,0,0
120,NaN,Germany,51.0000,9.0000,1/22/20,0,0,0
137,NaN,Italy,43.0000,12.0000,1/22/20,0,0,0
201,NaN,Spain,40.0000,-4.0000,1/22/20,0,0,0
217,Bermuda,United Kingdom,32.3078,-64.7505,1/22/20,0,0,0
218,Cayman Islands,United Kingdom,19.3133,-81.2546,1/22/20,0,0,0
219,Channel Islands,United Kingdom,49.3723,-2.3644,1/22/20,0,0,0
220,Gibraltar,United Kingdom,36.1408,-5.3536,1/22/20,0,0,0
221,Isle of Man,United Kingdom,54.2361,-4.5481,1/22/20,0,0,0
222,Montserrat,United Kingdom,16.7425,-62.1874,1/22/20,0,0,0
223,NaN,United Kingdom,55.3781,-3.4360,1/22/20,0,0,0

In [4]:
df_filtered = df_filtered.groupby(["Date", "Country/Region"], sort=False, as_index=False).agg(
    {
        "Confirmed" : "sum",
        "Deaths" : "sum",
        "Recovered" : "sum"
    }
)
df_filtered.head(20)

       Date  Country/Region  Confirmed  Deaths  Recovered
0   1/22/20          France          0       0          0
1   1/22/20         Germany          0       0          0
2   1/22/20           Italy          0       0          0
3   1/22/20           Spain          0       0          0
4   1/22/20  United Kingdom          0       0          0
5   1/23/20          France          0       0          0
6   1/23/20         Germany          0       0          0
7   1/23/20           Italy          0       0          0
8   1/23/20           Spain          0       0          0
9   1/23/20  United Kingdom          0       0          0
10  1/24/20          France          2       0          0
11  1/24/20         Germany          0       0          0
12  1/24/20           Italy          0       0          0
13  1/24/20           Spain          0       0          0
14  1/24/20  United Kingdom          0       0          0
15  1/25/20          France          3       0          0
16  1/25/20         Germany          0       0          0
17  1/25/20           Italy          0       0          0
18  1/25/20           Spain          0       0          0
19  1/25/20  United Kingdom          0       0          0

In [5]:
df_filtered["Confirmed_Plus"] = df_filtered["Confirmed"].diff(periods=5)
df_filtered["Confirmed_Plus"]= df_filtered["Confirmed_Plus"].fillna(0)

df_filtered["Deaths_Plus"] = df_filtered["Deaths"].diff(periods=5)
df_filtered["Deaths_Plus"]= df_filtered["Deaths_Plus"].fillna(0)

df_filtered["Recovered_Plus"] = df_filtered["Recovered"].diff(periods=5)
df_filtered["Recovered_Plus"]= df_filtered["Recovered_Plus"].fillna(0)

df_filtered.tail(20)

,Date,Country/Region,Confirmed,Deaths,Recovered,Confirmed_Plus,Deaths_Plus,Recovered_Plus
430,4/17/20,France,149130,18703,35006,2039.0,762.0,1679.0
431,4/17/20,Germany,141397,4352,83114,3699.0,300.0,6114.0
432,4/17/20,Italy,172434,22745,42727,3493.0,575.0,2563.0
433,4/17/20,Spain,190839,20002,74797,5891.0,687.0,0.0
434,4/17/20,United Kingdom,109769,14607,394,5624.0,848.0,19.0
435,4/18/20,France,149149,19345,36587,19.0,642.0,1581.0
436,4/18/20,Germany,143342,4459,85400,1945.0,107.0,2286.0
437,4/18/20,Italy,175925,23227,44927,3491.0,482.0,2200.0
438,4/18/20,Spain,191726,20043,74797,887.0,41.0,0.0
439,4/18/20,United Kingdom,115314,15498,414,5545.0,891.0,20.0
440,4/19/20,France,154097,19744,37183,4948.0,399.0,596.0
441,4/19/20,Germany,145184,4586,88000,1842.0,127.0,2600.0
442,4/19/20,Italy,178972,23660,47055,3047.0,433.0,2128.0
443,4/19/20,Spain,198674,20453,77357,6948.0,410.0,2560.0
444,4/19/20,United Kingdom,121172,16095,436,5858.0,597.0,22.0
445,4/20/20,France,156480,20292,38036,2383.0,548.0,853.0
446,4/20/20,Germany,147065,4862,91500,1881.0,276.0,3500.0
447,4/20/20,Italy,181228,24114,48877,2256.0,454.0,1822.0
448,4/20/20,Spain,200210,20852,80587,1536.0,399.0,3230.0
449,4/20/20,United Kingdom,125856,16550,446,4684.0,455.0,10.0

In [23]:
fig = px.line(df_filtered, x="Date", y = "Confirmed_Plus", color="Country/Region", title="Daily Confirmed Cases In Five European Countries")
fig.write_html('first_figure.html', auto_open=True)

In [24]:
filterFr = df_filtered["Country/Region"] == "France"
df_fr = df_filtered[filterFr]

fig = px.bar(df_fr, title= "COVID-19 Daily Confirmed and Recovery Cases in France", x="Date", y="Confirmed_Plus", color="Recovered_Plus", 
             labels={"Confirmed_Plus": "New Confirmed Cases"}, 
             hover_data=["Confirmed_Plus", "Recovered_Plus", "Deaths_Plus"])
fig.write_html('first_figure.html', auto_open=True)

In [25]:
filterUK = df_filtered["Country/Region"] == "United Kingdom"
df_UK = df_filtered[filterUK]

fig = px.bar(df_UK, title= "COVID-19 Daily Confirmed and Recovery Cases in United Kingdom", x="Date", y="Confirmed_Plus", color="Recovered_Plus", 
             labels={"Confirmed_Plus": "New Confirmed Cases"}, 
             hover_data=["Confirmed_Plus", "Recovered_Plus", "Deaths_Plus"])
fig.write_html('first_figure.html', auto_open=True)

In [26]:
filterGe = df_filtered["Country/Region"] == "Germany"
df_Ge = df_filtered[filterGe]

fig = px.bar(df_Ge, title= "COVID-19 Daily Confirmed and Recovery Cases in Germany", x="Date", y="Confirmed_Plus", color="Recovered_Plus", 
             labels={"Confirmed_Plus": "New Confirmed Cases"}, 
             hover_data=["Confirmed_Plus", "Recovered_Plus", "Deaths_Plus"])
fig.write_html('first_figure.html', auto_open=True)

In [27]:
filterSp = df_filtered["Country/Region"] == "Spain"
df_sp = df_filtered[filterSp]

fig = px.bar(df_sp, title= "COVID-19 Daily Confirmed and Recovery Cases in Spain", x="Date", y="Confirmed_Plus", color="Recovered_Plus", 
             labels={"Confirmed_Plus": "New Confirmed Cases"}, 
             hover_data=["Confirmed_Plus", "Recovered_Plus", "Deaths_Plus"])
fig.write_html('first_figure.html', auto_open=True)

In [28]:
filterIt = df_filtered["Country/Region"] == "Italy"
df_It = df_filtered[filterIt]

fig = px.bar(df_It, title= "COVID-19 Daily Confirmed and Recovery Cases in Italy", x="Date", y="Confirmed_Plus", color="Recovered_Plus", 
             labels={"Confirmed_Plus": "New Confirmed Cases"}, 
             hover_data=["Confirmed_Plus", "Recovered_Plus", "Deaths_Plus"])
fig.write_html('first_figure.html', auto_open=True)

In [44]:
df_filtered.tail()

,Date,Country/Region,Confirmed,Deaths,Recovered,Confirmed_Plus,Deaths_Plus,Recovered_Plus
445,4/20/20,France,156480,20292,38036,2383.0,548.0,853.0
446,4/20/20,Germany,147065,4862,91500,1881.0,276.0,3500.0
447,4/20/20,Italy,181228,24114,48877,2256.0,454.0,1822.0
448,4/20/20,Spain,200210,20852,80587,1536.0,399.0,3230.0
449,4/20/20,United Kingdom,125856,16550,446,4684.0,455.0,10.0

In [76]:
import plotly.graph_objects as go

fig = go.Figure(go.Indicator(
    mode = "gauge+number",
    value = 48877,
    domain = {'x': [0, 1], 'y': [0, 1]},
    title = {'text': "Recovery in Italy"},
    gauge = {
                'axis': {'range': [None, 160000], 'tickwidth': 1, 'tickcolor': "darkblue"},
                'bar': {'color': "darkblue"},
                'steps' : [
                     {'range': [0, 40000], 'color': "lightcoral"},
                     {'range': [40001, 80000], 'color': "orange"},
                     {'range': [80001, 120000], 'color': "yellow"},
                     {'range': [120001, 160000], 'color': "green"}
                ],
        
                'threshold' : {'line': {'color': "red", 'width': 4}, 'thickness': 0.75, 'value': 157114}
            }
))

fig.update_layout(paper_bgcolor = "lavender", font = {'color': "darkblue", 'family': "Arial"})
fig.write_html('first_figure.html', auto_open=True)

In [77]:
fig = go.Figure(go.Indicator(
    mode = "gauge+number",
    value = 91500,
    domain = {'x': [0, 1], 'y': [0, 1]},
    title = {'text': "Recovery rate in Germany"},
    gauge = {
                'axis': {'range': [None, 150000], 'tickwidth': 1, 'tickcolor': "darkblue"},
                'bar': {'color': "darkblue"},
                'steps' : [
                     {'range': [0, 40000], 'color': "lightcoral"},
                     {'range': [40001, 80000], 'color': "orange"},
                     {'range': [80001, 120000], 'color': "yellow"},
                     {'range': [120001, 150000], 'color': "green"}
                ],
        
                'threshold' : {'line': {'color': "red", 'width': 4}, 'thickness': 0.75, 'value': 142203}
            }
))

fig.update_layout(paper_bgcolor = "lavender", font = {'color': "darkblue", 'family': "Arial"})
fig.write_html('first_figure.html', auto_open=True)

In [78]:
fig = go.Figure(go.Indicator(
    mode = "gauge+number",
    value = 38036,
    domain = {'x': [0, 1], 'y': [0, 1]},
    title = {'text': "Recovery rate in France"},
    gauge = {
                'axis': {'range': [None, 140000], 'tickwidth': 1, 'tickcolor': "darkblue"},
                'bar': {'color': "darkblue"},
                'steps' : [
                     {'range': [0, 35000], 'color': "lightcoral"},
                     {'range': [35001, 70000], 'color': "orange"},
                     {'range': [70001, 105000], 'color': "yellow"},
                     {'range': [105001, 140000], 'color': "green"}
                ],
        
                'threshold' : {'line': {'color': "red", 'width': 4}, 'thickness': 0.75, 'value': 136188}
            }
))

fig.update_layout(paper_bgcolor = "lavender", font = {'color': "darkblue", 'family': "Arial"})
fig.write_html('first_figure.html', auto_open=True)

In [79]:
fig = go.Figure(go.Indicator(
    mode = "gauge+number",
    value = 80587,
    domain = {'x': [0, 1], 'y': [0, 1]},
    title = {'text': "Recovery rate in Spain"},
    gauge = {
                'axis': {'range': [None, 180000], 'tickwidth': 1, 'tickcolor': "darkblue"},
                'bar': {'color': "darkblue"},
                'steps' : [
                     {'range': [0, 50000], 'color': "lightcoral"},
                     {'range': [50001, 100000], 'color': "orange"},
                     {'range': [100001, 150000], 'color': "yellow"},
                     {'range': [150001, 180000], 'color': "green"}
                ],
        
                'threshold' : {'line': {'color': "red", 'width': 4}, 'thickness': 0.75, 'value': 179358}
            }
))

fig.update_layout(paper_bgcolor = "lavender", font = {'color': "darkblue", 'family': "Arial"})
fig.write_html('first_figure.html', auto_open=True)